body {
  font-family: 'PT Serif', serif;
  padding: 0;
  margin: 0;
}

.herobanner {

}

.herobanner h1 {
  color: blue;
}

.herobanner img {
  width: 200px;
}


/* <div class="herobanner">
  <h1>Regional Renovations LTD</h1>
  <img src="img/logo.png" alt="">
  <h1 class="ct">Construction Specialists</h1>
  <p class="sl"><em>"No job too small"</em></p>
  <p class="ct"><strong>Extentions, Stonework, Plastering, Rendering, Painting <br>and more...</strong></p>

</div>
